In [71]:
import numpy as np
import pandas as pd

## Q1

In [72]:
Mark_spot_rate = np.array([3,3.1,3.2,3.3,3.4,3.5,3.55,3.6,3.65,3.7])
A = np.ones_like(Mark_spot_rate) * 3
B = 0.05
P = 0.5
Q = 1 - 0.5

In [73]:
def generate_short_rate(a, b, T):
    short_lattice = pd.DataFrame(np.zeros([T,T]))
    for i in range(T):
        for j in range(i+1):
            short_lattice.iloc[j,i] = a[j] * np.exp(b * j)
    return short_lattice

In [74]:
short_rate_lattice = generate_short_rate(A,B,10)
short_rate_lattice

,0,1,2,3,4,5,6,7,8,9
0,3.0,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
1,0.0,3.153813,3.153813,3.153813,3.153813,3.153813,3.153813,3.153813,3.153813,3.153813
2,0.0,0.000000,3.315513,3.315513,3.315513,3.315513,3.315513,3.315513,3.315513,3.315513
3,0.0,0.000000,0.000000,3.485503,3.485503,3.485503,3.485503,3.485503,3.485503,3.485503
4,0.0,0.000000,0.000000,0.000000,3.664208,3.664208,3.664208,3.664208,3.664208,3.664208
5,0.0,0.000000,0.000000,0.000000,0.000000,3.852076,3.852076,3.852076,3.852076,3.852076
6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,4.049576,4.049576,4.049576,4.049576
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.257203,4.257203,4.257203
8,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.475474,4.475474
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.704937

In [75]:
def generate_element_price(rate_lattice, p, q, T):
    element_price_lattice = pd.DataFrame(np.zeros([T+1, T+1]))
    element_price_lattice.iloc[0,0] = 1
    for i in range(1,T+1):
        for j in range(i+1):
            if j == 0:
                element_price_lattice.iloc[j,i] = q * element_price_lattice.iloc[j,i-1] / (1 + rate_lattice.iloc[j,i-1] / 100)
            if j == i:
                element_price_lattice.iloc[j,i] = p * element_price_lattice.iloc[j-1,i-1] / (1 + rate_lattice.iloc[j-1,i-1] / 100)
            else:
                element_price_lattice.iloc[j,i] = (q * element_price_lattice.iloc[j,i-1] / (1 + rate_lattice.iloc[j,i-1] / 100)) + (p * element_price_lattice.iloc[j-1,i-1] / (1 + rate_lattice.iloc[j-1,i-1] / 100))
    
    return element_price_lattice

In [76]:
element_price = generate_element_price(short_rate_lattice,P,Q,10)
element_price

,0,1,2,3,4,5,6,7,8,9,10
0,1.0,0.485437,0.235649,0.114393,0.055530,0.026957,0.013086,0.006352,0.003084,0.001497,0.000727
1,0.0,0.485437,0.470947,0.342667,0.221625,0.134381,0.078222,0.044268,0.024541,0.013392,0.007218
2,0.0,0.000000,0.235298,0.342147,0.331679,0.267942,0.194808,0.132194,0.085433,0.053241,0.032257
3,0.0,0.000000,0.000000,0.113873,0.220603,0.267104,0.258725,0.219284,0.169925,0.123446,0.085410
4,0.0,0.000000,0.000000,0.000000,0.055019,0.133123,0.193263,0.218221,0.211203,0.183970,0.148378
5,0.0,0.000000,0.000000,0.000000,0.000000,0.026537,0.076985,0.130281,0.167978,0.182743,0.176716
6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.012776,0.043204,0.083486,0.120992,0.146124
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006140,0.023706,0.051487,0.082834
8,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002944,0.012778,0.030808
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001409,0.006788
10,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000673